* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* to include border and padding in the width */
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  grid-auto-rows: 10px;
}

#search-bar {
  width: 60%;
  margin-left: 20%;
}

@media only screen and (max-width: 767px) {
  #search-bar {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 460px) {
  h1 {
    font-size: 200%;
  }
  #search-bar {
    width: 92%;
    margin-left: 4%;
  }
}
